bootstrap/
/.idea
/*.iml
.vagrant
/registry
/registry-mirror
*.retry
*.deb
*.temp.*
*.out
.classpath
.settings/
.project
temp/
lib/
/target
/.vagrant
/*.log
/client/node_modules
/client/bower_components
/client/*.log
/db
/.ivy2
/*.box
.ftpconfig.*
node_modules/
*.zip
*.rar
*.gz
*.jar
*.ear
*.war
*.class
*.pyc
.gradle/
out/
m2deps/
downloads/
jobs/
m2deps/